<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | My User System</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="text-center text-blue-500 my-3 text-5xl">
      Welcome to this user system
    </h1>

    <div class="m-auto w-fit">
      <button
        class="bg-violet-400 hover:bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 px-3 py-2 rounded-full"
      >
        <a href="/users/login" class="no-underline">Login</a>
      </button>
      <button
        class="bg-violet-400 hover:bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 px-3 py-2 rounded-full"
      >
        <a href="/users/register" class="no-underline">Register</a>
      </button>
    </div>
  </body>
</html>
